<body>
      <!-- Navbar (sit on top) -->
      <div class="w3-top">
            <div class="w3-bar w3-white w3-card" id="myNavbar">
                  <a href="#home" class="w3-bar-item w3-button w3-wide">EXIGO MANAGEMENT SERVICES</a>
                  <!-- Right-sided navbar links -->
                  <div class="w3-right w3-hide-small">
                        <a href="www.exigo.ewebsolutionlk.com" class="w3-bar-item w3-button">
                              <i class="fa fa-th"></i> HOME</a>
                        <a *ngIf="state" routerLink="/login" class="w3-bar-item w3-button">
                              <i class="fa fa-user"></i> PROFILE</a>
                        <a *ngIf="!state" routerLink="/login" class="w3-bar-item w3-button">
                              <i class="fa fa-sign-in"></i> Sign In</a>
                        <a *ngIf="isAdmin" routerLink="/reg" class="w3-bar-item w3-button">
                              <i class="fa fa-plus-square"></i> ADD USERS</a>
                        <a *ngIf="state" (click)="click()" routerLink="/login" class="w3-bar-item w3-button">
                              <i class="fa fa-sign-out"></i> Sign Out</a>


                  </div>
                  <!-- Hide right-floated links on small screens and replace them with a menu icon -->

                  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="w3_open()">
                        <i class="fa fa-bars"></i>
                  </a>
            </div>
      </div>

      <!-- Sidebar on small screens when clicking the menu icon -->
      <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
            <a href="www.exigo.ewebsolutionlk.com" class="w3-bar-item w3-button">HOME</a>

            <a (click)="w3_close()" *ngIf="state" routerLink="/login" class="w3-bar-item w3-button">
                  <i class="fa fa-user"></i> PROFILE</a>
            <a (click)="w3_close()" *ngIf="!state" routerLink="/login" class="w3-bar-item w3-button">
                  <i class="fa fa-sign-in"></i> Sign In</a>
            <a (click)="w3_close()" *ngIf="isAdmin" routerLink="/reg" class="w3-bar-item w3-button">
                  <i class="fa fa-plus-square"></i>ADD USERS</a>
            <a (click)="w3_close()" *ngIf="state" (click)="click()" routerLink="/login" class="w3-bar-item w3-button">
                  <i class="fa fa-sign-out"></i> Sign Out</a>


      </nav>



      <!-- About Section -->
      <div class="w3-container w3-center" style="padding:60px 16px;align-content: center;" id="about">
            <router-outlet></router-outlet>
      </div>


</body>